.header-contact {
  background-image: url(../assets/contact-1.jpeg);
}

.contact-link {
  color: $primary;
}

.contact-page {
  display: flex;
  padding: 0 0 0 10%;

  .contact-form {
    width: 60%;
    margin-right: 20px;
    padding: 10% 0;

    h1 {
      font-size: 2.4rem;
      padding-bottom: 40px;
    }
  }

  .contact-details {
    width: 40%;
    background-color: #e8e8e8;
    padding: 10% 10% 10% 20px;

    h3 {
      font-size: 2.4rem;
      padding-bottom: 40px;
    }
  }
}

.contact-inputs {
  width: 100%;

  input {
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    background-color: #e8e8e8;
    font-family: $base-font;
    @include body-font();
  }

  fieldset.half-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      width: calc((100% - 20px) / 2);
      margin-bottom: 20px;
    }
  }

  fieldset.full-width input {
    display: block;
    width: 100%;
  }

  .message {
    padding-top: 20px;
    padding-bottom: 250px;
    margin-bottom: 40px;
  }

  .submit-link {
    color: $primary;
    font-family: $second-font;
    text-transform: uppercase;
    padding-right: 10px;
    margin-top: 20px;
  }
  i {
    color: $primary;
    font-size: 2.2rem;
  }
}

.contact-details p {
  @include body-font();

  strong {
    text-transform: uppercase;
  }
}

.contact-details p:not(:nth-child(4)) {
  padding-bottom: 20px;
}

.contact-details h5 {
  padding: 20px 0;
}

.hours-info {
  font-style: italic;
}

.contact-image {
  background-image: url(../assets/contact-2.jpeg);
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
