footer {
  background-color: $dark-grey;
  color: $white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
}

footer section {
  max-width: 30%;
  margin-right: 20px;

  h4 {
    font-size: 3rem;
    color: $primary;
    padding-bottom: 30px;
  }

  h5 {
    font-size: 1.8rem;
    padding-bottom: 40px;
  }

  p,
  li,
  a {
    font-size: 1.4rem;
    color: $light-grey;
    line-height: 22px;
    padding: 10px 0;
  }

  a {
    transition: all 0.5s;

    &:hover {
      color: $primary;
    }
  }

  p:not(:last-of-type),
  li:not(:last-of-type) {
    border-bottom: 1px solid $trans-grey;
  }

  .recent-posts {
    color: $white;
    font-size: 1.8rem;
  }

  form {
    display: flex;
    margin: 20px 0;

    input {
      font-size: 1.3rem;
      font-family: $base-font;
      font-style: italic;
      padding-left: 10px;
      border: none;
      color: $white;
      background-color: $trans-grey;
      height: 35px;
    }
    button {
      border: none;
      background-color: $primary;
      color: $white;
      width: 35px;
      transition: all 0.5s;

      &:hover {
        background-color: $white;
        color: $primary;
      }
    }
  }
}

.nav-footer-social ul {
  display: flex;
  li {
    margin-right: 15px;
    border-bottom: none;

    a {
      color: $white;
      border-bottom: none;

      &:hover {
        color: $primary;
      }
    }
  }
}

.copyright {
  font-family: $second-font;
  font-size: 1.3rem;
  background-color: $black;
  padding: 15px 0;

  span {
    color: $primary;
  }
}
