html {
  font-size: 62.5%;
}

body {
  font-family: $base-font;
  font-size: 2rem;
  color: $black;
}

// limits the width on large resolution screens
.large-wrapper {
  max-width: 1850px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

h1,
h2,
h3,
h4,
h5,
nav a,
button,
header span {
  font-family: $second-font;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  max-width: 100%;
}

.btn {
  padding: 15px 30px;
  font-family: $second-font;
  font-size: 1.3rem;
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.3s linear;

  &:hover,
  &:focus {
    background-color: $white;
    color: $primary;
    border: 2px solid $primary;
  }
}
