header {
  background-size: cover;
  background-position: 50% 0;
  height: 80vh;

  padding: 30px;

  .top-bar {
    @include sb-flex();

    .header-logo {
      font-size: 4.6rem;
    }

    .nav-header {
      flex: 0 0 60%;
    }
  }
}

.nav-header {
  text-align: right;
}

input.toggle,
label.toggle {
  display: none;
}

label.toggle {
  // position: fixed;
  // top: 18px;
  // right: 25px;
  color: $black;
  z-index: 6;
  font-size: 3.5rem;
}

input {
  position: absolute;
  left: -100%;
  top: 110px;
}

ul.nav-header-list {
  @include sb-flex();

  li {
    font-size: 1.8rem;
    position: relative;

    a {
      transition: all 0.4s ease;
      &:hover {
        color: $primary;
      }
    }

    span {
      position: absolute;
      bottom: -8px;
      right: -13px;

      width: 18px;
      height: 18px;

      background-color: $primary;
      color: $white;

      border-radius: 50%;
      text-align: center;
      font-size: 1.1rem;
      padding: 3px;
    }
  }
}
