.header-home {
  background-image: url(../assets/home-1.jpeg);
}

.header-blog {
  background-image: url(../assets/blog-1.jpeg);
}

.header-contact {
  background-image: url(../assets/contact-1.jpeg);
}

header {
  background-size: cover;
  background-position: 50% 0;
  height: 80vh;

  padding: 30px;

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      font-size: 4.6rem;
    }

    .nav-header {
      flex: 0 0 60%;
    }
  }
}

.nav-menu-icon {
  display: none;
}

.nav-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    font-size: 1.8rem;
    position: relative;

    span {
      position: absolute;
      bottom: -10px;
      right: -10px;

      width: 18px;
      height: 18px;

      background-color: $primary;
      color: $white;

      border-radius: 50%;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
