@media (max-width: 1320px) {
  .grid-list-item {
    i {
      font-size: 1.8rem;
    }
    div {
      padding-bottom: 20px;
      h3 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 1150px) {
  .nav-header ul {
    li {
      font-size: 1.5rem;

      span {
        bottom: -8px;
        right: -10px;

        width: 15px;
        height: 15px;

        font-size: 1rem;
        padding: 2px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .main-home h2:after {
    padding-top: 30px;
  }

  .grid-top,
  .grid-bottom {
    flex-direction: column;
    height: 100%;

    article.grid-text {
      width: 80%;
      padding: 100px 0;

      p {
        font-size: 1.6rem;
        line-height: 24px;
        margin: 30px 0 50px 0;
      }
    }

    article.grid-list {
      width: 100%;
      padding: 40px 15px 0 15px;
      ul {
        padding-right: 0;
        li {
          width: 90%;
          margin: 0 auto;
        }
      }
    }

    figure {
      width: 100%;
    }
  }

  .grid-bottom article {
    order: -1;
    flex-direction: column;
    height: initial;
  }

  .grid-list-item {
    i {
      font-size: 2rem;
    }

    div {
      padding-bottom: 40px;

      h3 {
        font-size: 2rem;
        padding-bottom: 10px;
      }

      p {
        font-size: 1.6rem;
        line-height: 24px;
      }
    }
  }

  .home-aside {
    max-width: 80%;

    p {
      font-size: 1.6rem;
      line-height: 23px;
      margin: 30px 0 0 0;
    }
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  footer section {
    max-width: 100%;
  }

  .footer-contact {
    h4 {
      padding-bottom: 10px;
    }

    p {
      padding: 5px 0;
    }

    p:not(:last-of-type) {
      border-bottom: none;
    }
  }

  .recent {
    margin: 40px 0;
    padding-top: 40px;
    border-top: 1px solid $trans-grey;
    border-bottom: 1px solid $trans-grey;
  }

  .recent ul {
    display: none;
  }

  .subscribe h5 {
    padding-bottom: 20px;
  }

  .subscribe form,
  .nav-footer-social ul {
    justify-content: center;
  }
}

@media (max-width: 940px) {
  header .top-bar {
    .nav-header {
      position: relative;

      .nav-header-list {
        display: none;
        padding: 10px 0;

        li {
          margin: 15px;
        }
      }
    }
  }

  label.toggle {
    display: initial;
  }

  input[type="checkbox"]:checked + ul.nav-header-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    width: 100%;
    min-height: 70vh;
    background-color: $white;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
  }
}

@media (max-width: 850px) {
  .home-aside figure .stamp {
    top: -90px;
    right: -40px;
  }

  .gallery ul li:nth-child(3n) {
    display: none;
  }

  .gallery ul li {
    width: 50%;
  }

  .post-author {
    flex-direction: column;
  }

  .post-author img {
    margin-bottom: 20px;
    min-width: 100%;
  }

  .post-author-text {
    width: 100%;
  }

  .posts-related ul {
    flex-direction: column;
    align-items: center;

    li {
      width: 100%;
    }

    li:not(:last-of-type) {
      margin-right: 0;
    }
  }

  .comment-form fieldset {
    flex-direction: column;
    justify-content: center;
    input {
      width: 100%;
    }
  }

  .contact-page {
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    .contact-form {
      width: 100%;
      padding: 40px 0;
    }

    .contact-details {
      width: 100%;
      padding: 40px 20px 20px 20px;
      text-align: center;
    }
  }
}

@media (max-width: 670px) {
  header {
    padding: 15px;
    .top-bar .header-logo {
      font-size: 3.8rem;
    }
  }

  label.toggle {
    font-size: 2.8rem;
  }
}

@media (max-width: 550px) {
  .home-aside figure .stamp {
    width: 150px;
    top: -65px;
    right: -20px;
  }

  .quote blockquote {
    .left,
    .right {
      font-size: 35px;
    }
    .left {
      left: -50px;
    }
    .right {
      right: -50px;
    }
  }

  .contact-inputs {
    fieldset.half-width {
      flex-direction: column;

      input {
        width: 100%;
      }
    }
  }
}

@media (max-width: 420px) {
  header .top-bar .header-logo {
    font-size: 3rem;
  }

  label.toggle {
    font-size: 2.5rem;
  }

  .copyright {
    text-align: center;
    padding: 10px 0;

    p {
      font-size: 1.1rem;
    }
  }

  .comment .comment-text .comment-date {
    font-size: 1.1rem;
  }
}

@media (max-width: 380px) {
  .posts-related ul li h3 {
    font-size: 1.5rem;
  }
}
