@media (max-width: 1150px) {
  .nav-header ul {
    li {
      font-size: 1.5rem;

      span {
        bottom: -8px;
        right: -10px;

        width: 15px;
        height: 15px;

        font-size: 1rem;
        padding: 2px;
      }
    }
  }
}
