// fonts

$base-font: "Lora", serif;
$second-font: "Raleway", sans-serif;

// colors

$primary: #64a604;
$secondary: #dded9a;
$dark-grey: #333333;
$light-grey: #999999;
$black: #2e2e2e;
$white: #f6f6f6;

// mixins

@mixin sb-flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin body-font() {
  font-size: 1.3rem;
  color: $light-grey;
  line-height: 20px;
}
